<div class="jumbotron">
  <h1 class="header">Here are your bit.ly links:</h1>

</div>


<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
      <th>Description</th>
      <th>Short URL</th>
      <th>Clicks</th>  
      <th>Full URL</th>
    </tr>
    </thead>

    <tbody>

		<% @list_of_data.each do |x| %>
			<tr>
        <td><%= x["link_title"] %></td>
        <td><a href = "<%= x['shortened_url'] %>"><%= x['shortened_url'] %></a></td>
        <td><%= x["clicks"] %></td>
				<td><a href = "<%= x['full_url'] %>"><%= x['full_url'] %></a></td>
			</tr>
		<% end %>

    </tbody>
  </table>
